<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Templates is working!!!</title>
</head>

<body>

<font color="saffron">
  welcome to first html page using django***

<!-- this is text scrolling tag<marquee>-->


    <font size="25">
    <font color="purple">
    Data Analyst: MURARI DESHPANDE
        <br>
        {{name}} is from {{place}} , but planning

        <br>
        <br>
        <form>
            Enter your name:<input type="text"><br>
            Enter your age:<input type="time"><br>
            Enter your Email:<input type="email">
            <button>submit form</button>
        </form>

</body>

</html>